@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

:root {
    --baseitblue: rgb(56, 151, 200);
    --background: rgb(200, 206, 213);
    --yellow: rgb(251, 251, 114);
    --lightyellow: rgb(244, 244, 158);
    --darkestblue: rgb(11, 31, 69);
    --darkblue: rgb(0, 57, 162);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --fontfamily-BIZ: 'BIZ UDPMincho', serif;
    --blue-shadow: 0 0 12px 5px rgba(56, 151, 200, 0.8);
    --black-shadow: 0 0 6px #000;
}

html {
    background-color: var(--background);
    font-family: var(--fontfamily-BIZ);
}

/*    BASEIT LOGO HEADER BAR    */

#baseitLogo,
.header-wrapper,
.opening-hours-wrapper,
.social-media-wrapper {
    display: flex;
}

#baseitLogo {
    margin: 0 auto;
    width: min(100% - 4rem, 350px);
    padding-bottom: 5px;
}

.outer-header-wrapper {
    border: 3px solid var(--baseitblue);
    background-color: var(--white);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 85%;
    margin-inline: auto;
}

.opening-hours-wrapper {
    flex-direction: row;
    width: min(100% - 4rem, 350px);
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
}

.opening-hours-today,
.opening-hours-link {
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.opening-hours-today {
    line-height: 25px;
}

.opening-hours-link {
    color: var(--baseitblue);
}

#clockIcon {
    width: 50px;
    height: auto;
    margin: 6px 6px 0 0;
}

.social-media-wrapper {
    width: min(100% - 4rem, 350px);
    align-items: center;
    justify-content: center;
}

.social-media-svgs {
    margin: 1rem;
}

#instagramLogo {
    width: 45px;
}

#facebookLogo {
    width: 50px;
}



/*    MENU BAR    */

.outer-menu-wrapper,
.menu-wrapper,
#menuBar,
.menu-item {
    display: flex;
}

.outer-menu-wrapper {
    justify-content: center;
    margin: 1rem;
}

.menu-wrapper {
    background: var(--white);
    border-radius: 2rem;
    box-shadow: 0 0 8px rgb(20, 66, 89);
    border: 2px solid var(--baseitblue);
}

.links {
    text-decoration: none;
}

.menu-icons {
    position: relative;
    bottom: 2px;
    width: 28px;
}

.menu-item {
    transition: all .3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--black);
    text-shadow: 0 0 1px var(--black);
}

.menu-item:hover {
    transition: all .3s ease-in-out;
    background: rgba(200, 206, 213,0.5);
}

.menu-item[aria-current="page"] {
    background: rgba(56, 151, 200,0.4);
}



/*          MEDIA QUERIES           */


/*    HEADER BAR    */

@media only screen and (max-width: 1250px) {

    .opening-hours-today,
    .opening-hours-link {
        font-size: 0.9rem;
    }

    #clockIcon {
        width: 40px;
    }
}

@media only screen and (max-width: 1080px) {
    .opening-hours-wrapper {
        left: 20px;
    }

    #instagramLogo {
        width: 35px;
    }

    #facebookLogo {
        width: 40px;
    }
}

@media only screen and (max-width: 1022px) {
    .opening-hours-wrapper,
    .social-media-wrapper {
        display: none;
    }
}

/*    MENU BAR    */

@media only screen and (max-width: 1440px) {
    .menu-item {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 1240px) {
    .menu-item {
        padding: 1rem;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1020px) {
    .menu-item {
        font-size: 1rem;
    }

    .menu-icons {
        bottom: 4px;
        width: 24px;
    }
}