@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
:root {
  --baseitblue: rgb(56, 151, 200);
  --background: #f2f2f2;
  --yellow: rgb(251, 251, 114);
  --lightyellow: rgb(244, 244, 158);
  --darkestblue: rgb(11, 31, 69);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --fontfamily-BIZ: "BIZ UDPMincho", serif;
}

.header-container {
  display: flex;
  border: 3px solid var(--baseitblue);
  border-top: 0px solid var(--baseitblue);
  background-color: var(--white);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 0 7px #555;
  width: 85%;
  margin-inline: auto;
}
.header-logo img {
  display: flex;
  margin: 0 auto;
  width: min(100% - 4rem, 350px);
  padding-bottom: 5px;
  filter: drop-shadow(2px 2px 2px #ddd);
}
.header-opening-hours-wrapper {
  display: flex;
  flex-direction: row;
  width: min(100% - 4rem, 350px);
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50px;
}
.header-opening-hours-today, .header-opening-hours-link {
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  font-weight: bold;
}
.header-opening-hours-today {
  line-height: 25px;
}
.header-opening-hours-link {
  color: var(--baseitblue);
}
.header-opening-hours-icon img {
  width: 50px;
  height: auto;
  margin: 6px 6px 0 0;
  filter: drop-shadow(1px 1px 2px #a8a6a6);
}
.header-social-media {
  display: flex;
  width: min(100% - 4rem, 350px);
  align-items: center;
  justify-content: center;
}
.header-social-media div {
  margin: 1rem;
}
.header-social-media div img {
  filter: drop-shadow(1px 1px 2px #a8a6a6);
}

@media only screen and (max-width: 1250px) {
  .header-opening-hours-today,
  .header-opening-hours-link {
    font-size: 0.9rem;
  }
  #clockIcon {
    width: 40px;
  }
}
@media only screen and (max-width: 1080px) {
  .header-opening-hours-wrapper {
    left: 20px;
  }
  #instagramLogo {
    width: 35px;
  }
  #facebookLogo {
    width: 40px;
  }
}
@media only screen and (max-width: 1022px) {
  .header-opening-hours-wrapper,
  .header-social-media {
    display: none;
  }
}
.menu {
  display: flex;
  background: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0 8px rgb(20, 66, 89);
  border: 2px solid var(--baseitblue);
}
.menu-container {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}
.menu-item {
  display: flex;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--black);
  text-shadow: 0 0 1px var(--black);
  align-items: center;
}
.menu-item:hover {
  transition: all 0.3s ease-in-out;
  background: rgba(200, 206, 213, 0.5);
}
.menu-item i {
  margin-right: 3px;
  width: 28px;
  color: var(--baseitblue);
  font-size: 27px;
  text-shadow: none;
}
.menu-item[aria-current=page] {
  background: rgba(56, 151, 200, 0.4);
}

@media only screen and (max-width: 1440px) {
  .menu-item {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 1240px) {
  .menu-item {
    padding: 1rem;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1020px) {
  .menu-item {
    font-size: 1rem;
  }
  .menu-icons {
    bottom: 4px;
    width: 24px;
  }
}
@media only screen and (min-width: 900px) {
  #toggleMenu,
  .mini-menu-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .menu-container {
    margin: 1rem 1rem 3rem;
  }
  #miniMenuBar,
  #miniMenuBarList {
    display: flex;
    width: 100%;
  }
  .mini-menu-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem;
    max-width: 260px;
    width: 100%;
  }
  .mini-menu-toggle {
    padding: 0.5rem 6rem;
    font-size: 1.2rem;
    color: var(--baseitblue);
    text-transform: uppercase;
    font-family: var(--fontfamily-BIZ);
    font-weight: bolder;
    background: var(--white);
    border: 2px solid var(--baseitblue);
    border-radius: 0.4rem;
    position: absolute;
    box-shadow: 0 0 3px #555;
    letter-spacing: 2px;
  }
  .mini-menu-links {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background: var(--white);
    margin: 5px 0px;
    border: 2px solid var(--baseitblue);
    border-radius: 0.4rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
  }
  #miniMenuBarList {
    flex-direction: column;
    position: relative;
    top: 50px;
  }
  .rotated {
    transform: rotate(90deg);
  }
  md-icon {
    display: inline-block;
    transition: all 1s;
    position: absolute;
    left: 30px;
    bottom: 5px;
    filter: drop-shadow(1px 1px 1px #ddd);
  }
}
.container-full-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 10px 30px;
}
.container-full-width-row {
  flex-direction: row;
}
.container-full-width-white {
  background-color: var(--white);
}
.container-full-width-gradient {
  background-image: linear-gradient(160deg, var(--background), var(--background), var(--baseitblue));
}
.container-contact {
  display: flex;
  flex-direction: row;
  padding-right: 0px;
}

@media only screen and (max-width: 1360px) {
  .container-contact {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 600px) {
  .container-full-width {
    padding: 10px 10px;
  }
  .container-contact {
    padding: 10px 10px;
  }
}
* {
  box-sizing: border-box;
}

html,
header,
body,
footer {
  background-color: var(--background);
  font-family: var(--fontfamily-BIZ);
}

.page-heading {
  display: flex;
  justify-content: center;
  width: 100%;
}
.page-heading h1 {
  text-transform: uppercase;
  text-shadow: 3px 0px 6px var(--baseitblue);
  font-size: 40px;
}

a {
  text-decoration: none;
  color: var(--baseitblue);
}

.baseit-electrical {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--baseitblue);
}

.open-contact-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.open-hours-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.open-hours-message {
  width: 100%;
}
.open-hours-message p {
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  margin: 0;
  padding: 30px 0px;
}
.open-hours-wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
}
.open-hours-box {
  background-color: var(--white);
  width: 290px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80px;
  justify-content: space-evenly;
}
.open-hours-box-wrapper {
  filter: drop-shadow(-1px 6px 3px rgb(41, 109, 143));
}
.open-days, .open-times {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
}
.open-days {
  text-shadow: 1px 1px 2px var(--baseitblue);
  color: var(--baseitblue);
}

#open-hours-box-1 {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
#open-hours-box-2 {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
#open-hours-box-3 {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: 10% 0, 100% 0, 100% 100%, 0 100%;
}

.contact-box {
  background: var(--white);
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  max-width: 250px;
  min-width: 212px;
  width: 100%;
  height: 220px;
  box-shadow: 0 0 7px #555;
  border-radius: 0.8rem;
}
.contact-box-wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.contact-box-info {
  font-size: 1rem;
}
.contact-box i {
  color: var(--baseitblue);
  font-size: 4rem;
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.2));
}
.contact-box p {
  margin: 0;
}
.contact-box-button {
  background: var(--baseitblue);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--black);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.contact-box-button:hover {
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.contact-form {
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 7px #555;
  padding: 0.3rem;
  border: 2px solid var(--baseitblue);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 0px solid var(--baseitblue);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 650px;
  justify-content: space-evenly;
}
.contact-form-wrapper {
  display: flex;
  max-width: 540px;
  width: 100%;
  margin: 2rem 0 2rem 1rem;
}
.contact-form-envelope {
  font-size: 1.6rem;
  color: var(--baseitblue);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem;
}
.contact-form-envelope i {
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px var(--baseitblue);
  color: var(--darkestblue);
}
.contact-form-envelope p {
  margin: 0;
}
.contact-form-envelope b {
  font-size: 1.8rem;
}
.contact-form-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}
.contact-form-input label {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.contact-form-input input,
.contact-form-input textarea {
  max-width: 350px;
  width: 100%;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 4px 1px var(--baseitblue);
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: var(--fontfamily-BIZ);
  border: none;
}
.contact-form-input input:focus,
.contact-form-input textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px 1px #555;
  transition: all 0.3s ease-in-out;
}
.contact-form-input-upload label {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--baseitblue);
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid var(--baseitblue);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 4px 0px var(--baseitblue);
  margin-bottom: 0px;
  text-align: center;
}
.contact-form-input-upload label:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 6px 1px #ddd;
  background: var(--baseitblue);
  color: var(--white);
  text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.2);
}
.contact-form-input-upload label:focus-within {
  outline: 5px;
}
.contact-form-input-upload label input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* 1 */
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
}
.contact-form-input-submit button {
  border: 2px solid var(--baseitblue);
  width: 200px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--baseitblue);
  color: white;
  box-shadow: 0 0 6px 0px #ddd;
  text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.contact-form-input-submit button:hover {
  background: none;
  text-shadow: none;
  color: var(--baseitblue);
  box-shadow: 0 0 7px var(--baseitblue);
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
.contact-form-input-submit button i {
  font-size: 1.4rem;
  margin-left: 5px;
}

#cloudUploadIcon {
  font-size: 1.8rem;
}

.send-button-wrapper {
  justify-content: end;
}

@media only screen and (max-width: 1360px) {
  .contact-form-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .contact-box-wrapper {
    flex-wrap: wrap;
  }
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 60%;
  border-bottom: 3px solid var(--baseitblue);
  border-radius: 5px;
}
.heading-wrapper h1 {
  color: #000;
  text-shadow: 2px 2px 2px var(--baseitblue);
  margin-bottom: 6px;
}

.images-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.images-border {
  max-width: 300px;
  width: 100%;
  border-radius: 0.8rem;
  display: flex;
  background: linear-gradient(-45deg, var(--baseitblue), var(--baseitblue), rgb(185, 225, 245), var(--baseitblue), var(--baseitblue));
  background-size: 400% 400%;
  animation: gradient 3s infinite;
  transition: all 0.5s;
}
.images-border div {
  margin: 7px;
  display: flex;
}
.images-border div img {
  width: 100%;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

.card-hover {
  transform: rotateY(180deg);
  transition: all 0.5s;
}

.card-back {
  position: absolute;
  transform: rotateY(-180deg);
  display: flex;
  transition: all 0.2s ease-in-out;
}
.card-back-text-hide {
  opacity: 0;
  transition: opcacity 0.5s ease-in-out;
}
.card-back-hide {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.card-back-show {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=styles.css.map */