@use 'pages/contact';
@use 'components/containers';
@use 'components/text';
@use 'config/colours';

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');


* {
    box-sizing: border-box;
}

html,
header,
body,
footer {
    background-color: var(--background);
    font-family: var(--fontfamily-BIZ);
}

/*    BASEIT LOGO HEADER BAR    */

#baseitLogo,
.header-wrapper,
.opening-hours-wrapper,
.social-media-wrapper {
    display: flex;
}

#baseitLogo {
    margin: 0 auto;
    width: min(100% - 4rem, 350px);
    padding-bottom: 5px;
    filter: drop-shadow(6px 6px 8px #ddd);
}

.outer-header-wrapper {
    border: 3px solid var(--baseitblue);
    background-color: var(--white);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 85%;
    margin-inline: auto;
}

.opening-hours {
    &-wrapper {
        flex-direction: row;
        width: min(100% - 4rem, 350px);
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50px;
    }

    &-today,
    &-link {
        letter-spacing: 0.5px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    &-today {
        line-height: 25px;
    }

    &-link {
        color: var(--baseitblue);
    }
}

#clockIcon {
    width: 50px;
    height: auto;
    margin: 6px 6px 0 0;
    filter: drop-shadow(3px 3px 2px #a8a6a6);
}

.social-media {
    &-wrapper {
        width: min(100% - 4rem, 350px);
        align-items: center;
        justify-content: center;
    }

    &-svgs {
        margin: 1rem;
    }
}

#instagramLogo img,
#facebookLogo img {
    filter: drop-shadow(3px 3px 2px #a8a6a6);
}

/*    FOOTER      */


/*    MENU BAR    */

.outer-menu-wrapper,
.menu-wrapper,
#menuBar,
.menu-item {
    display: flex;
}

.outer-menu-wrapper {
    justify-content: center;
    margin: 2rem 1rem;
}

.menu-wrapper {
    background: var(--white);
    border-radius: 2rem;
    box-shadow: 0 0 8px rgb(20, 66, 89);
    border: 2px solid var(--baseitblue);
}

.menu {
    &-icons {
        width: 28px;
        color: var(--baseitblue);
        font-size: 27px;
        text-shadow: none;
    }

    &-item {
        transition: all .3s ease-in-out;
        padding: 1rem 3rem;
        border-radius: 3rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: var(--black);
        text-shadow: 0 0 1px var(--black);
        align-items: center;
    }

    &-item:hover {
        transition: all .3s ease-in-out;
        background: rgba(200, 206, 213, 0.5);
    }

    &-item[aria-current="page"] {
        background: rgba(56, 151, 200, 0.4);
    }
}



//  projects page

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heading-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 60%;
    border-bottom: 3px solid var(--baseitblue);
    border-radius: 5px;

    h1 {
        color: #000;
        text-shadow: 2px 2px 2px var(--baseitblue);
        margin-bottom: 6px;
    }
}

.images {
    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &-border {
        max-width: 300px;
        width: 100%;
        border-radius: 0.8rem;
        display: flex;
        background: linear-gradient(-45deg, var(--baseitblue), var(--baseitblue), rgb(185, 225, 245), var(--baseitblue), var(--baseitblue));
        background-size: 400% 400%;
        animation: gradient 3s infinite;
        transition: all .5s;

        div {
            margin: 7px;
            display: flex;

            img {
                width: 100%;
                border-radius: 0.4rem;
                transition: all .3s ease;
            }
        }
    }
}

// for javascript flip card function

.card-hover {
    transform: rotateY(180deg);
    transition: all .5s;
}

.card-back {
    position: absolute;
    transform: rotateY(-180deg);
    display: flex;
    transition: all .2s ease-in-out;

    &-text-hide {
        opacity: 0;
        transition: opcacity .5s ease-in-out;
    }

    &-hide {
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    &-show {
        opacity: 1;
        transition: all .5s ease-in-out;
    }
}

// ANIMATIONS
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/*          MEDIA QUERIES           */


/*    HEADER BAR    */

@media only screen and (max-width: 1250px) {

    .opening-hours-today,
    .opening-hours-link {
        font-size: 0.9rem;
    }

    #clockIcon {
        width: 40px;
    }
}

@media only screen and (max-width: 1080px) {
    .opening-hours-wrapper {
        left: 20px;
    }

    #instagramLogo {
        width: 35px;
    }

    #facebookLogo {
        width: 40px;
    }
}

@media only screen and (max-width: 1022px) {

    .opening-hours-wrapper,
    .social-media-wrapper {
        display: none;
    }
}

/*    MENU BAR    */

@media only screen and (max-width: 1440px) {
    .menu-item {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 1240px) {
    .menu-item {
        padding: 1rem;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1020px) {
    .menu-item {
        font-size: 1rem;
    }

    .menu-icons {
        bottom: 4px;
        width: 24px;
    }
}


/*    MINI MENU BAR    */

@media only screen and (min-width: 900px) {

    #toggleMenu,
    .mini-menu-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .outer-menu-wrapper {
        display: none;
    }

    #miniMenuBar,
    #miniMenuBarList,
    .mini-menu-wrapper {
        display: flex;
    }

    .mini-menu-wrapper {
        justify-content: center;
        margin: 1rem;
    }

    .toggle-menu {
        padding: 0.5rem 6rem;
        font-size: 1.1rem;
        font-family: var(--fontfamily-BIZ);
        font-weight: bold;
        background: var(--white);
        border: 2px solid var(--baseitblue);
        border-radius: 0.8rem;
        position: absolute;
    }

    .rotated {
        transform: rotate(90deg);
    }

    md-icon {
        display: inline-block;
        transition: all 1s;
        position: absolute;
        left: 30px;
        bottom: 5px;
        filter: drop-shadow(0px 0px 2px var(--baseitblue));
    }

    #miniMenuBarList {
        flex-direction: column;
        position: relative;
        top: 50px;
    }

    .mini-menu-links {
        display: flex;
        justify-content: center;
        padding: 0.3rem 3rem;
        background: var(--white);
        margin: 2px;
        border: 2px solid var(--baseitblue);
        border-radius: 0.6rem;
        color: black;
        text-decoration: none;

        font-weight: bold;
    }

}







.hello-jack {
    color: var(--baseitblue);
}