@use 'layout/header';
@use 'layout/menu-bar';
@use 'layout/mini-menu-bar';
@use 'components/containers';
@use 'components/text';
@use 'config/colours';
@use 'pages/contact';

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

//  projects page

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heading-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 60%;
    border-bottom: 3px solid var(--baseitblue);
    border-radius: 5px;

    h1 {
        color: #000;
        text-shadow: 2px 2px 2px var(--baseitblue);
        margin-bottom: 6px;
    }
}

.images {
    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &-border {
        max-width: 300px;
        width: 100%;
        border-radius: 0.8rem;
        display: flex;
        background: linear-gradient(-45deg, var(--baseitblue), var(--baseitblue), rgb(185, 225, 245), var(--baseitblue), var(--baseitblue));
        background-size: 400% 400%;
        animation: gradient 3s infinite;
        transition: all .5s;

        div {
            margin: 7px;
            display: flex;

            img {
                width: 100%;
                border-radius: 0.4rem;
                transition: all .3s ease;
            }
        }
    }
}

// for javascript flip card function

.card-hover {
    transform: rotateY(180deg);
    transition: all .5s;
}

.card-back {
    position: absolute;
    transform: rotateY(-180deg);
    display: flex;
    transition: all .2s ease-in-out;

    &-text-hide {
        opacity: 0;
        transition: opcacity .5s ease-in-out;
    }

    &-hide {
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    &-show {
        opacity: 1;
        transition: all .5s ease-in-out;
    }
}

// ANIMATIONS
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



