@use '../config/mixins' as *;

* {
    box-sizing: border-box;
}

html,
header,
body,
footer {
    background-color: var(--background);
    font-family: var(--fontfamily-BIZ);
}

.page-heading {
    display: flex;
    justify-content: center;
    width: 100%;
    
    h1 {
        text-transform: uppercase;
        @include baseit-text-shadow;
        font-size: 40px;
    }
}

a {
    text-decoration: none;
    color: var(--baseitblue);
}

.baseit-electrical {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--baseitblue);
}