:root {
    --baseitblue: rgb(56, 151, 200);
    --background: #f2f2f2;
    --yellow: rgb(251, 251, 114);
    --lightyellow: rgb(244, 244, 158);
    --darkestblue: rgb(11, 31, 69);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --fontfamily-BIZ: 'BIZ UDPMincho', serif;
}